<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link id="pagestyle" rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/materialdesignicons.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <script src="static/js/socket.io.js"></script>
    <title>ThunderBoard</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ThunderBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
</div>
</body>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    var client_id = null;
    socket.on('connect', function() {
        socket.emit('join');
    });
    socket.on('new object available', function(obj_id){
        socket.emit('subscribe', obj_id);
    });
    socket.on('id assigned', function(id){
        console.log("Client id assigned" + id.toString());
        client_id = id;
    });
    socket.on('update', function(json){
        console.log(json)
    });
</script>
</html>