<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThunderBoard</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/materialdesignicons.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Theme style -->
    <link rel="stylesheet" href="static/css/adminlte.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><span class="mdi mdi-home"></span></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Home</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <span class="mdi mdi-message-alert-outline"></span>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <span class="mdi mdi-message"></span> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="." class="brand-link">
            <!--<img src="static/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">-->
            <span class="brand-text font-weight-light">ThunderBoard</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <span class="nav-icon mdi mdi-bulletin-board"></span>
                            <p>
                                Dashboard
                                <i class="mdi mdi-chevron-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item boardNavItem" id="boardNavItemTemplate" style="display: none">
                                <a href="javascript:;" class="nav-link boardNavDroppable">
                                    <span class="nav-icon mdi mdi-speedometer"></span>
                                    <p class="boardName">Default </p> <span class="mdi mdi-window-close right boardClose"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row" id="boardDiv">
                    <section class="col-lg-7 connectedSortable columnLeft" id="columnLeftTemplate" style="display: none">
                        <!-- Custom tabs-->
                        <div class="card objectCard" id="objectTemplate" style="display: none;">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="mdi mdi-play objectStatusIcon"></span>
                                    <span class="objectTitle">Message</span>
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool objectActionMinimize" data-card-widget="collapse">
                                        <span class="mdi mdi-window-minimize"></span>
                                    </button>
                                    <button type="button" class="btn btn-tool objectActionClose" data-card-widget="remove">
                                        <span class="mdi mdi-window-close"></span>
                                    </button>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content p-0 objectContent" style="height: 100%; width: 100%;">
                                    <!-- TEMPLATE -->
                                </div>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </section>
                    <section class="col-lg-5 connectedSortable columnRight" id="columnRightTemplate" style="display: none">
                    </section>
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>ThunderBoard</strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/socket.io.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="static/js/adminlte.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var client_id = null;
    socket.on('connect', function () {
        socket.emit('join');
    });
    socket.on('new object available', function (obj_id) {
        socket.emit('subscribe', { obj_id: obj_id, client_id: client_id });
    });
    socket.on('id assigned', function (id) {
        console.log("Client id assigned " + id.toString());
        client_id = id;
    });
    socket.on('update', function (json) {
        updateObject(json);
    });
    socket.on('discard', function (id) {
        if (id in $objects) {
            $objects[id].status.removeClass("text-success").removeClass("blinking").removeClass("mdi-play")
                .addClass("text-danger").addClass("mdi-stop");
            $objects[id].card.removeClass("objectActive");
        }
    });
    socket.on('discard and close', function (id) {
        if (id in $objects) {
            $objects[id].card.find(".objectActionClose").click();
        }
    });

    var $objects = {};
    var $objectTemplateDiv = $("#objectTemplate");
    var $boards = {};
    var $columnLeftTemplate = $("#columnLeftTemplate");
    var $columnRightTemplate = $("#columnRightTemplate");
    var $boardDiv = $("#boardDiv");

    var $boardNavItemTemplate = $("#boardNavItemTemplate");

    function getBoard(board){
        if (board in $boards){
            return $boards[board];
        } else {
            $boards[board] = {
                left: $columnLeftTemplate.clone().attr('id', 'columnLeft_' + board).appendTo($boardDiv),
                right : $columnRightTemplate.clone().attr('id', 'columnRight_' + board).appendTo($boardDiv),
                objects : []
            };
            var nav = $boardNavItemTemplate.clone();
            nav.attr('id', 'boardNavItem_' + board);
            nav.appendTo($boardNavItemTemplate.parent());
            nav.find('.boardName').html(board);
            nav.find('.nav-link').on('click', function(){ toggleBoard(board); });
            nav.find('.boardClose').on('click', function (){ closeBoard(board) });
            nav.show();

            $('.boardNavDroppable').droppable({
                accept: ".objectCard",
                tolerance: "pointer",
                classes: {
                    "ui-droppable-active": "alert-warning",
                    "ui-droppable-hover": "alert-danger",
                },
                drop: function (event, ui){
                    var moveTo = $(event.target).find('.boardName').html();
                    moveCardToBoard(ui.draggable, moveTo);
                }
            });

            setSortable();
            return $boards[board];
        }
    }

    function closeBoard(board){
        $("#boardNavItem_" + board).fadeOut();
        $boards[board].left.remove();
        $boards[board].right.remove();
        for (let index in $boards[board].objects){
            socket.emit('unsubscribe', { obj_id: $boards[board].objects[index], client_id: client_id  });
            delete $objects[$boards[board].objects[index]];
        }
        delete $boards[board];
    }

    function moveCardToBoard(card, board){
        var id = card.attr("id").substring("object_".length);
        console.log("move " + id + " to " + board);
        var old_board = $boards[$objects[id].board];
        old_board.objects.splice(old_board.objects.indexOf(id));
        card.remove();

        var new_card = card.clone();

        $objects[id] = {
            board: board,
            card: new_card,
            status: new_card.find(".objectStatusIcon"),
            title: new_card.find(".objectTitle"),
            content: new_card.find(".objectContent"),
            need_init: true
        };

        $objects[id].board = board;
        var new_board = $boards[board];
        new_board.objects.push(id);

        if (new_board.left.children().length === 0){
            new_card.appendTo(new_board.left);
        } else {
            new_card.insertBefore(new_board.left.children().first());
        }

        new_card.attr("style", "");
        setSortable();
    }

    function toggleBoard(board){
        $boardNavItemTemplate.parent().find('.nav-link').removeClass('active');
        $("#boardNavItem_" + board).find('.nav-link').addClass('active');
        for (let key in $boards){
            if (key === board) {
                $boards[key].left.show();
                $boards[key].right.show();
            } else {
                $boards[key].left.hide();
                $boards[key].right.hide();
            }
        }
    }

    function updateObject(json){
        if (!(json.id in $objects)) {
            console.log("create new object " + json.id);
            var object = $objectTemplateDiv.clone();
            object.attr("id", "object_" + json.id);
            $objects[json.id] = {
                board: json.board,
                card: object,
                status: object.find(".objectStatusIcon"),
                title: object.find(".objectTitle"),
                content: object.find(".objectContent"),
                need_init: true
            };

            var board = getBoard(json.board);
            if (board.left.children().length === 0){
                object.appendTo(board.left);
            } else {
                object.insertBefore(board.left.children().first());
            }
            board.objects.push(json.id);
            $objects[json.id].status.addClass("text-success").addClass("blinking").addClass("mdi-play");
            $objects[json.id].card.addClass("objectActive");
            var close_action = object.find(".objectActionClose");
            close_action.on('click', function (){
                socket.emit('unsubscribe', { obj_id: json.id, client_id: client_id });
                delete $objects[json.id];
            });

            toggleBoard(json.board);
        }
        if (json.type === 'text'){
            if ($objects[json.id].need_init){ initTextObject(json); $objects[json.id].need_init = false; }
            updateTextObject(json);
        }else if (json.type === 'image'){
            if ($objects[json.id].need_init){ initImageObject(json); $objects[json.id].need_init = false; }
            updateImageObject(json);
        }


        $objects[json.id].card.show();
    }

    function initTextObject(json){
        $objects[json.id].content.css("max-height", "250px");
        $objects[json.id].content.css("overflow", "auto");
    }

    function updateTextObject(json){
        $objects[json.id].title.html(json.name);
        if(json.rotate === 'True') {
            if ($objects[json.id].content[0].scrollHeight - $objects[json.id].content.scrollTop() <= $objects[json.id].content.height()) {
                $objects[json.id].content.append("<span>" + json.data + "</span><br />");
                $objects[json.id].content.scrollTop($objects[json.id].content[0].scrollHeight);
            } else {
                $objects[json.id].content.append("<span>" + json.data + "</span><br />");
            }
        }else{
                $objects[json.id].content.html("<span>" + json.data + "</span>");
        }
    }

    function initImageObject(json){
        var img_id = "object_img_" + json.id;
        $objects[json.id].content.empty();
        var img = $(`<img id="${img_id}" src="data:image/jpeg;base64,${json.data}" />`);
        img.css("max-width", "100%");
        img.appendTo($objects[json.id].content);
        $objects[json.id].card.resizable({ handles: "n, s" });
        $objects[json.id].img = img;
        $objects[json.id].card.resize(function (){
            console.log($objects[json.id].content.height());
            $objects[json.id].img.height($objects[json.id].content.height());
        });
    }

    function updateImageObject(json){
        $objects[json.id].title.html(json.name);
        $objects[json.id].img.attr("src", `data:image/jpeg;base64,${json.data}`);
    }

    function setSortable() {
        // Make the dashboard widgets sortable Using jquery UI
        $('.connectedSortable').sortable({
            placeholder: 'sort-highlight',
            connectWith: '.connectedSortable',
            handle: '.card-header, .nav-tabs',
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $('.connectedSortable .card-header, .connectedSortable .nav-tabs-custom').css('cursor', 'move');
    }

</script>
</body>
</html>
